{% extends 'base.html' %}


{% block content %}
    <div class="sticky-top">

        <div class="position-absolute top-50 start-50 translate-middle-x w-50 mt-4 ">
            <input data-bs-toggle="modal" data-bs-target="#exampleModal" type="email" class="form-control"
                   id="exampleFormControlInput1" placeholder="Create Post">

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Post {{ current_user.username }}</h5>

                    <form action="{{ url_for('auth_home.create') }}" method="post">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title</label>
                        {{ form.hidden_tag() }}
                        {{ form.title(class="form-control", placeholder="Title") }}
                        {% if form.errors %}
                            {{ form.errors[0] }}
                        {% endif %}


                        {#            <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="Title">#}
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Content</label>
                        {{ form.content(class="form-control", placeholder="Content") }}
                        {% if form.errors %}
                            {{ form.errors[0] }}
                        {% endif %}
                        {#            <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3" style="resize:none" cols="40" placeholder="Text (Optional)"></textarea>#}
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form.submit(class="btn btn-primary") }}
                </div>

            </div>
        </div>
    </div>

    </form>
    </div >
    {% for i in range(data|length) %}

        <div class="card w-50">
            <div class="card-body">
                {% for user in users %}
                    {% if user.id == data[i].id %}
                        {{ user.username }}
                    {% endif %}


                {% endfor %}
                <h5 class="card-title">{{ data[i].title }} </h5>
                <p class="card-text">{{ data[i].content }}</p>
                <p class="card-text"><small class="text-muted">{{ data[i].created_post_date }}</small></p>
            </div>
        </div>



    {% endfor %}
    </div>
{% endblock %}